spring:
  application:
    name: snapcloud-api
  datasource:
    url: jdbc:mysql://localhost:3306/snapcloud?createDatabaseIfNotExist=true
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: true

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: debug
