spring:
  application:
    name: snapcloud-api
  datasource:
    url: jdbc:mysql://localhost:3306/snapcloud?createDatabaseIfNotExist=true
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: true

  # Mail configuration - set your email and app password here (or use env vars)
  mail:
    host: smtp.gmail.com
    port: 587
    username: "nethushiperera03@gmail.com"    # <-- your email
    password: "randojcqzyhukggt"              # <-- your app password
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: 2D4A614E645267556B58703273357638792F423F4428472B4B6250655368566DF423F4428472B4B6250655368566D
  expiration: 3600000 # 1 hour in milliseconds

#sendgrid configuration
sendgrid:
  api-key: ${SENDGRID_API_KEY}  # Use environment variable for SendGrid API key